body {
    background-color: #000066;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAEAEA;
}

header {
    background-color: #CCCCFF;
}

h1 {
    margin: 0;
    padding: 10px;
}

nav {
    float: left;
    width: 90px;
    padding: 10px;
}

main {
    margin-left: 100px;
    padding: 10px;
    background-color: #FFFFFF;
    display: block;  /* IE fix */
}

footer {
    text-align: center;
    font-style: italic;
    background-color: #CCCCFF;
    clear: both;
}

/* Navigation link styles */
nav a {
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

nav a:link {
    color: #000066;
}

nav a:visited {
    color: #6B6B6B;
}

nav a:hover {
    color: #FFFFFF;
    background-color: #000066;
}